<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundlePath</key>
	<string>/Users/kumar/Library/Application Support/TextMate/Bundles/PHPDoc.tmbundle</string>
	<key>content</key>
	<string>PHPDocumentor usage ...
[more info at http://phpdocumentor.org/]

snippet commands :

"phpdoc_c"	- Class
"phpdoc_cp"	- Class (post documentation)
"phpdoc_d"	- Define inline constant
"phpdoc_dp"	- Define inline constant (post documentation)
"phpdoc_f"	- Function
"phpdoc_fp"	- Function (post documentation)
"phpdoc_h"	- Document header
"phpdoc_i"	- Interface class
"phpdoc_s"	- Abstract function signature
"phpdoc_v"	- Class variable
"phpdoc_vp"	- Class variable (post documentation)
"phpdoc_u"	- This usage information

TextMate shell variables :
\$TM_ORGANIZATION_NAME  -- default value of @copyright [+ date]
\$PHPDOC_AUTHOR  -- [optional] default value of @author (realname will be used if not set)
[ Preferences &gt; Advanced &gt; Shell Variables ]

NOTE: Commands marked as "post documentation" are designed for undocumented code -- in other words, a comment block is added at the cursor position.</string>
	<key>name</key>
	<string>PHPDoc usage</string>
	<key>tabTrigger</key>
	<string>phpdoc_u</string>
	<key>uuid</key>
	<string>9086823A-87E7-11D9-A6A3-000D93589AF6</string>
</dict>
</plist>
