<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>do
{
	#	$2
	$0
	
} while ( ${1:$a &lt;= 10} );</string>
	<key>name</key>
	<string>PHP do while( )</string>
	<key>tabTrigger</key>
	<string>dowhile</string>
	<key>uuid</key>
	<string>1C06D786-8CCF-11D9-B507-000D93C8BE28</string>
</dict>
</plist>
