{
    backgroundColor = "#211E1E"; 
    fileTypes = (phtml, html, htm, shtml, xhtml); 
    foldingStartMarker = "(<(?i:(head|table|div|style|script|ul|ol|form|dl))\\>.*?>|\\{)"; 
    foldingStopMarker = "(</(?i:(head|table|div|style|script|ul|ol|form|dl))>|\\})"; 
    foregroundColor = "#DADADA"; 
    highlightPairs = (("(", ")"), ("[", "]"), ("{", "}"), ("\"", "\"")); 
    increaseIndentPattern = "(<(head|title|table|tr|td|ul|ol|dl|div)\\>[^>]*>|\\{)\\s*$"; 
    mode = "HTML_PHP"; 
    name = "HTML (PHP)"; 
    scopeName = "source.html.php";
    patterns = (
        {
            begin = "<!--"; 
            end = "-->"; 
            fontStyle = (); 
            foregroundColor = "#555555"; 
            name = "comment.html"; 
            patterns = (
                {
                    begin = "^#\\s*(include|config|echo|exec|fsize|flastmod|printenv|set)"; 
                    end = "(?=\\s*--|>)"; 
                    fontStyle = (); 
                    foregroundColor = "#888888"; 
                    name = "macro.server-side-includes.html"; 
                }, 
                {
                    backgroundColor = "#CC3300"; 
                    fontStyle = (); 
                    foregroundColor = "#ffffff"; 
                    match = ">|<"; 
                    name = "invalid.bad-comment-end.html"; 
                }
            ); 
        }, 
        {
            begin = "<\\?(php|=)?"; 
            end = "\\?>"; 
            name = "source.php.embedded.html"; 
            patterns = ({include = PHP; }); 
        }, 
        {
            begin = "(^\\s+)?<(?i:style)\\>.*?>?"; 
            end = "</(?i:style)>(\\s+$)?"; 
            name = "embedded.css.html"; 
            patterns = ({include = "CSS (PHP)"; }); 
        }, 
        {
            begin = "(^\\s+)?<(?i:script)\\>.*?>?"; 
            end = "</(?i:script)>(\\s+$)?"; 
            name = "embedded.js.html"; 
            patterns = ({include = "JavaScript (PHP)"; }); 
        }, 
        {
            fontStyle = (); 
            foregroundColor = "#68685B"; 
            match = "<\\?xml.*?\\?>"; 
            name = "meta.docinfo.xml-processing.html"; 
        }, 
        {
            begin = "<!DOCTYPE"; 
            end = ">"; 
            fontStyle = (); 
            foregroundColor = "#888888"; 
            name = "meta.docinfo.doctype.html"; 
            patterns = (
                {
                    fontStyle = (italic); 
                    match = "\"[^\">]*\""; 
                    name = "meta.docinfo.doctype.identifiers-and-DTDs.html"; 
                }
            ); 
        }, 
        {
            begin = "</?(a|abbr|acronym|address|area|b|base|big|blockquote|body|br|button|caption|cite|code|col|colgroup|dd|del|dfn|div|dl|dt|em|fieldset|form|frame|frameset|(h[1-6])|head|hr|html|i|iframe|img|input|ins|kbd|label|legend|li|link|map|meta|noframes|noscript|object|ol|optgroup|option|p|param|pre|q|samp|script|select|small|span|strong|style|sub|sup|table|tbody|td|textarea|tfoot|th|thead|title|tr|tt|ul|var)"; 
            end = "/?>"; 
            fontStyle = (); 
            foregroundColor = "#858EF4"; 
            name = "keyword.markup.elements.html"; 
            patterns = (
                {
                    begin = "(abbr|accept-charset|accept|accesskey|action|align|alt|archive|axis|border|cellpadding|cellspacing|char|charoff|charset|checked|cite|class|classid|codebase|codetype|cols|colspan|content|coords|data|datetime|declare|defer|dir|disabled|encoding|enctype|for|frame|frameborder|headers|height|href|hreflang|http-equiv|id|ismap|label|lang|language|longdesc|marginheight|marginwidth|maxlength|media|method|multiple|name|nohref|noresize|onblur|onchange|onclick|ondblclick|onfocus|onkeydown|onkeypress|onkeyup|onload|onmousedown|onmousemove|onmouseout|onmouseover|onmouseup|onreset|onselect|onsubmit|onunload|profile|readonly|rel|rev|rows|rowspan|rules|scheme|scope|scrolling|selected|shape|size|span|src|standby|style|summary|tabindex|target|title|type|usemap|valign|value|valuetype|version|width|xmlns|xmlns:isbn|xml:lang)=\""; 
                    end = "\""; 
                    foregroundColor = "#9B456F"; 
                    name = "keyword.markup.attributes.html"; 
                    patterns = (
                        {
                            fontStyle = (); 
                            foregroundColor = "#8F8582"; 
                            match = "[^\"]*"; 
                            name = "string.double-quoted.html"; 
                        }
                    ); 
                }
            ); 
        }, 
        {
            fontStyle = (); 
            foregroundColor = "#AFA472"; 
            match = "&([a-zA-Z]+|#[0-9]+|#x[0-9a-fA-F]+);"; 
            name = "constant.character-entities.html"; 
        }
    ); 
    scopeName = "text.html"; 
    smartTypingPairs = (("(", ")"), ("[", "]"), ("{", "}"), ("\"", "\""), ("<", ">"), ("'", "'")); 
    uuid = "B1D8F50C-AC86-11D9-B52D-000D93589AF6"; 
}
