<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoScrollOutput</key>
	<true/>
	<key>beforeRunningCommand</key>
	<string>nop</string>
	<key>command</key>
	<string>#!/bin/sh
ruby18 -- "$TM_BUNDLE_SUPPORT/lib/php_mate.rb"</string>
	<key>input</key>
	<string>document</string>
	<key>inputFormat</key>
	<string>text</string>
	<key>keyEquivalent</key>
	<string>@R</string>
	<key>name</key>
	<string>Run</string>
	<key>outputCaret</key>
	<string>afterOutput</string>
	<key>outputFormat</key>
	<string>html</string>
	<key>outputLocation</key>
	<string>newWindow</string>
	<key>scope</key>
	<string>text.html.php</string>
	<key>semanticClass</key>
	<string>process.run.php</string>
	<key>uuid</key>
	<string>774E75DA-A747-4CB4-B8AF-DE720B01E295</string>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
